<a href="addstudent">Add student information</a>
</br>
<a href="addlang">Add language</a>
</br>
<a href="addgrade">Add Grade</a>
</br>
<a href="addgender">Add Gender</a>
</br>
<button id="back"> back </button>


<script>
    document.getElementById("back").addEventListener("click", function() {
        window.location.href="/";
    })
</script>